<div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary">{{ tag }}</strong>
    <h3 class="mb-0">{{ title }}</h3>
    <div class="mb-1 text-muted">{{ date }}</div>
    <p class="card-text mb-auto">{{ description }}</p>
    <a href="#" class="stretched-link">Continue reading</a>
</div>